.nav-link {
    cursor: pointer;
}

#main-top-nav {
    position: sticky;
    top: 0;
    z-index: 1071;
}

#main-container {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 700px;
}

.card {
    background-color: rgba(255, 244, 244, 0.747);
}

.card-img-top {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.navbar-brand {
    text-shadow: 3px 1px grey;
}

.nav-link {
    color: white;
}

.card-title {
    font: italic bold 20px/30px Georgia, serif;
}

.title-name {
    font-family: "Times New Roman", Times, serif;
}

#main-footer {

}